body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
  }
  
  .container-primary {
    background-image: url(imagenp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 593px;
    padding: 30px;
  }

  .container {
    width:450px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 2px rgb(247, 244, 244);
  }

  
  h1 {
    color:#060b23;
    text-align: center;
    margin-bottom: 20px;

  }
  
  .form-group {
    margin-bottom: 15px;
    color: white;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: transparent;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .btn-registro {
    text-decoration: none;
    background-color: #1e9b48;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-registro:hover {
    background-color: #16833a;
  }
  
  .btn-login {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-login:hover {
    background-color: #0056b3;
  }